@import 'src/sass/styles.scss';
#landingPage{
    .backBtn{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-shadow: 0px 20px 30px 0px rgba(0,0,0,0.3);
        top: 40px;
        left: 85%;
        background-color: none;
        z-index: 2
    }
    .backIcon{
        width: 31px;
        height: 31px;
        border-radius: 50%;
        position: absolute;
        transform: translate(-50%, -50%);;
        top: 44px;
        left: 85%;
    }
    .mainContent{
        position: relative;
        top: 90px;
        left: 50%;
        width: 85%;
        height: 90%;
        transform: translate(-50%, 0);
    }
    .categoryText{
        font-size: 20px;
        color: #4f83eb;
        position: relative;
        top: -5px;
        font-family: 'JosefinSans-Regular';
    }
    .categoryCard{
        height: 82px;
        width: 100%;
        margin: 0 25px 0 0;
        background: linear-gradient(210deg, #4f83eb, #acc8ff);
        .text{
            position: relative;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            color: white;
            font-family: 'JosefinSans-Regular';
        }
    }

    .seealltext{
        font-family: 'JosefinSans-Light';
    }

    .pantiCard{
        background-color:#4f83eb;
        margin: 0 25px 0 0;
        height: 100px;
        width: 100%;
        .image{
            position: relative;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            max-height: 100%;
            max-width: 100%;
            overflow: hidden;
        }
        .cardTitle{
            position: absolute;
            transform: translate(0, -100%);
            left: 0;
            top: 100%;
            min-height: 35%;
            width: 100%;
            background-color: black;
            background: linear-gradient(to top, black, transparent);
            padding: 25px 0 0 0;
            font-family: 'JosefinSans-Regular';
        .text{
            font-size: 18px;
            color: white;
            font-family: 'JosefinSans-Regular';
        }
    }
    }
    
}