
<ion-content id="landingPage" fullscreen>
      <ion-button class="backBtn" [routerLink]="['/','explore','search']" shape="round" color="none">
      </ion-button>
      <ion-icon class="backIcon" name="search" color="primary"></ion-icon>
      <div class="mainContent">
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="categoryText">Category</ion-col>
          <ion-col class="ion-text-right" size="4" offset="4">
            <ion-text [routerLink]="['/','explore','category']" class="seealltext" >See All (4)</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-card (click)="cariKategori('panti-asuhan')"class="categoryCard ion-text-center">
              <ion-card-subtitle class="text">Panti Asuhan</ion-card-subtitle>
            </ion-card>
          </ion-col>

          <ion-col size="4">
            <ion-card (click)="cariKategori('panti-jompo')"class="categoryCard1 ion-text-center">
              <ion-card-subtitle class="text">Panti Jompo</ion-card-subtitle>
            </ion-card>
          </ion-col>

          <ion-col size="4">
            <ion-card (click)="cariKategori('panti-tunarungu')"class="categoryCard2 ion-text-center">
              <ion-card-subtitle class="text">Panti Tunarungu</ion-card-subtitle>
            </ion-card>
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col *ngFor="let card of pantiAsuhan" size="6">
            <ion-card class="pantiCard ion-text-center" (click)="move(card.panti_id)">
              <ion-img class="image" [src]="card.gambar_filepath"></ion-img>
              <div class="cardTitle">
                <h3 class="text">{{card.panti_nama}}</h3>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>