// FONT FAMILY
$font_idx: 1;
$font_default: Helvetica, Arial, sans-serif !default;

// Font Family Ex. (name, 'fonts/path')
$font_family: (
    JosefinSans-Bold: 'src/assets/fonts/JosefinSans-Bold',
    JosefinSans-Regular: 'src/assets/fonts/JosefinSans-Regular',
    JosefinSans-Light: 'src/assets/fonts/JosefinSans-Light',
    JosefinSans-SemiBold: 'src/assets/fonts/JosefinSans-SemiBold',
    JosefinSans-Thin: 'src/assets/fonts/JosefinSans-Thin',
    JosefinSans-ThinItalic: 'src/assets/fonts/JosefinSans-ThinItalic',
);  

//COLORS
$white : #FFFFFF;
$blue : #4F83EB;
$lightblue : #ACC8FF;
$darkpurple : #938FFF;
$lightpurple : #F5B6FF;
$tosca : #8FFFF4;
$lightgreen : #B6FFD1;
$darkpink : #FF8F93;
$lightpink : #FFB6B8;
$orange : #FFD197;
$customred : #F05E63;
$lightgrey:#B4B4B4;
$black: #000000;


$colors: (
    $white : #FFFFFF,
    $blue : #4F83EB,
    $lightblue : #ACC8FF,
    $darkpurple : #938FFF,
    $lightpurple : #F5B6FF,
    $tosca : #8FFFF4,
    $lightgreen : #B6FFD1,
    $darkpink : #FF8F93,
    $lightpink : #FFB6B8,
    $orange : #FFD197,
    $customred : #F05E63,
    $lightgrey:#B4B4B4,
    $black: #000000
);

// BUTTONS
// Default Button Ex. (button-class, background-code, font-color)
// $buttons:
//     ('btn-red', #D9534F, #FFFFFF),
//     ('btn-blue', #337AB7, #FFFFFF),
//     ('btn-green', #5CB85C, #FFFFFF);

// text-align
$align: left center right;

// vertical-align
$vertical-align: top middle bottom;

// float
$float: left right;

// position
$position: top right bottom left;

// media-query
$media-query:
    (laptop, (min-width: 1366px)),
    (desktop, (min-width: 1200px)),
    (wide, (min-width: 992px)),
    (tablet, (min-width: 768px) and (max-width: 991px)),
    (mobile, (max-width: 767px)),
    (small-mobile, (max-width: 360px));
