<ion-content id="sliderContent" fullscreen>
  <ion-grid class="innerContent">
    <ion-row>
      <ion-col size="12">
        <ion-title class="ion-text-center title">Let's Gets Started</ion-title>
        <ion-img src='.\assets\owner.png'>
        </ion-img>
      </ion-col>
      <ion-col class="ion-text-center"size="12">
        <h1><b>Caring is Sharing</b></h1>
      </ion-col>
    </ion-row>
  </ion-grid>
    <ion-slides class="slider" pager="true" [options]="slideOptions">
      <ion-slide>
          <h3>Caring is Sharing ada sebuah apilikasi yang akan memabntu anda untuk mengetahui panti mana yang membutuhkan bantuan dan bantuan apa yang mereka butuhkan</h3>
      </ion-slide>
      <ion-slide>
        <h1>Slide 2 </h1>
      </ion-slide>
      <ion-slide>
          <ion-button class="startedBtn" shape="round" color="primary">Get Started</ion-button>
      </ion-slide>
    </ion-slides>
</ion-content>