<ion-content id="sliderContent" fullscreen>
  <ion-grid class="innerContent">
    <ion-row>
      <ion-col class="ion-text-center" size="12">
        <span class="ion-text-center title">Apa itu Helping Hands?</span>
        <ion-img src='.\assets\owner.png'>
        </ion-img>
      </ion-col>
      <ion-col class="ion-text-center"size="12">
        <h1><b>Helping Hands</b></h1>
      </ion-col>
    </ion-row>
  </ion-grid>
    <ion-slides class="slider" pager="true" [options]="slideOptions">
      <ion-slide>
          <h3>Zaman Sekarang masih banyak sekali teman-teman kita yang kurang beruntung dan tidak memiliki rumah ataupun orang tua.</h3>
      </ion-slide>
      <ion-slide>
          <h3>Kita sebagai orang yang lebih beruntung dibanding mereka sebaiknya mengulurkan tangan dan membantu mereka</h3>
      </ion-slide>
      <ion-slide>
          <h3>Aplikasi Helping Hands Bertujuan untuk membantu para donatur yang ingin berdonasi bertemu dengan Panti yang membutuhkan Donasi</h3>
      </ion-slide>
      <ion-slide>
          <ion-button class="startedBtn" shape="round" color="primary" (click)="close()">Mulai</ion-button>
      </ion-slide>
    </ion-slides>
</ion-content>