<ion-content id="registerPage">
          <ion-button class="backBtn" shape="round" color="none" [routerLink]="['/','login']">
          </ion-button>
          <ion-icon class="backIcon" name="arrow-round-back" color="primary"></ion-icon>
    <div class="register-content">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-text class="register-text">Sign Up as User</ion-text>
          </ion-col>
          <ion-col size="12">
            <form [formGroup]="registerForm">
              <ion-item>
                <ion-label position="floating">First Name</ion-label>
                <ion-input formControlName="firstName"  type="text" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Last Name</ion-label>
                <ion-input formControlName="lastName"  type="text" required></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input formControlName="lastName"  type="text" required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input formControlName="password"  type="password" required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Confirm Password</ion-label>
                    <ion-input formControlName="confirmPassword"  type="password" required></ion-input>
                </ion-item>
                <div class="TC">
                  <ion-checkbox formControlName="TC" type="text" required></ion-checkbox>
                  <ion-label class="TcText">  i Agree with T&C</ion-label>
                </div>
            </form>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button class="signUpbtn" [disabled]="!registerForm.valid" (click)="registerUser()"shape="round" color="primary">SIGN UP</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>
  </ion-content>
