<ion-content id="profile">
    <div class="title">
        <ion-text>
          <b>Profile</b>
        </ion-text>
      </div>
    <div class="avatar">
      <ion-thumbnail [src]="userData.user_image"></ion-thumbnail>
    </div>
    
    <div class="personalInfo ion-text-center">
      <ion-text>{{userData.user_first_name}} {{userData.user_last_name}}</ion-text>
      <br>
      <ion-text>{{userData.user_email}}</ion-text>
    </div>

    <ion-grid class="buttonBox">
      <ion-row>
        <ion-col class="innerButton"size="4" offset="2">
          <ion-button (click)="openModal()" expand="block" shape="round">EDIT PROFILE</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button [routerLink]="['/','explore','settings']" expand="block" fill="outline" shape="round">SETTINGS</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
