<ion-content id="profile">
    <div class="title">
        <ion-text>
          <b>Profile</b>
        </ion-text>
      </div>
    <div class="avatar">
      <ion-thumbnail></ion-thumbnail>
    </div>
    <div class="personalInfo ion-text-center">
      <ion-text>John Doe</ion-text>
      <br>
      <ion-text>John.doe@gmail.com</ion-text>
    </div>
    <ion-grid class="buttonBox">
      <ion-row>
        <ion-col class="innerButton"size="4" offset="2">
          <ion-button expand="block" shape="round">Edit Profile</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="block" fill="outline" shape="round">Settings</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
