@import 'src/sass/styles.scss';
#profile{
    .title{
        font-size: 25px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50px;
        left: 50%;
        color : $blue;
        font-family: 'JosefinSans-Bold';
    }
    .avatarContainer{
        height: 165px;
        width: 165px;
        border: solid 5px $blue;
        top: 30%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        .avatar{
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        position: relative;
        height: 150px;
        width: 150px;
        }
    }
    .personalInfo{
        font-size: 18px;
        color : $blue;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        font-family: 'JosefinSans-Regular';
    }
    .buttonBox{
        position: absolute;
        transform: translate(-50%, -50%);
        width: 100%;
        top: 60%;
        left: 50%;
        font-family: 'JosefinSans-Regular';
    }
}
