@import 'src/sass/styles.scss';
#profile{
    .title{
        font-size: 25px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50px;
        left: 50%;
        color : $blue;
        font-family: 'JosefinSans-Bold';
    }
    .avatar{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 30%;
        left: 50%;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        background: linear-gradient(210deg, $blue, $lightblue);
    }
    .personalInfo{
        font-size: 18px;
        color : $blue;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        font-family: 'JosefinSans-Regular';
    }
    .buttonBox{
        position: absolute;
        transform: translate(-50%, -50%);
        width: 100%;
        top: 60%;
        left: 50%;
        font-family: 'JosefinSans-Regular';
    }
<<<<<<< HEAD
}
=======
    
>>>>>>> a50f3d5d0fad77b9039f7d1961b4cc189f95e0f1
