@import 'src/sass/styles.scss';
#bookmark{
    .title{
        position: relative;
        top: 20px;
        left: 30px;
        background-color: 20;
        font-size: 30px;
        color : $blue;
        font-family: 'JosefinSans-Bold';
    }
    .bookCard{
        margin: 25px 0 25px 0;
        // padding: 0 15px 0 15px;
        height: 150px;
    }
    .cardtitle{
        position: relative;
        top: 15px;
        left: 15px;
        font-size : 20px;
        color : $blue;
        font-family: 'JosefinSans-Bold';
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow-y: hidden;   
    }
    .cardcontent{
        font-size: 15px;
        font-family: 'JosefinSans-Regular'; 
    }
    .deleteIcon{
        color: $customred;
        position: absolute;
        transform: translate(-50%, 0);
        left: 90%;
        top: 70%;
        width: 30px;
        height: 30px;
    }
}