@import 'src/sass/styles.scss';

#loginPage{
    .login-content{
        position: absolute;
        width: 75%;
        height: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .formDiv{
            margin: 100px 0 0 0;
        }
        .login-text{
            font-size: 30px;
            color : $blue;
            font-family: 'JosefinSans-Bold';
        }
        .input-text{
            font-size: 20px;
            color : $black;
            font-family: 'JosefinSans-Light';
        }
        .label-text{
            font-size: 15px;
            color : $lightgrey;
            font-family: 'JosefinSans-Light';
        }
    }

    .loginBtn{
        height: 60px;
        width: 100%;
        border-radius: 50%;
        box-shadow: 0px 20px 30px 0px rgba(0,0,0,0.3);
        margin: 20px 0 0 0;
        font-family: 'JosefinSans-Regular';
        font-size : 15px;

    }
    
    .rememberMe{
        width: 90%;
        height: 50px;
        margin: 25px 0 25px 18px;
        .rememberText{
            font-family: 'JosefinSans-Light';
            position: relative;
            top: -3px;
            left: 5px;
        }
    }

    .create{
        position: relative;
        margin: 45px 0 0 0;
        font-family: 'JosefinSans-Regular';
        font-size : 15px;

    }
}