<ion-content id="loginPage" fullscreen>
  <div class="login-content">
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-text class="login-text">Log Into</ion-text>
            <br>
          <ion-text class="login-text">Your Account</ion-text>
        </ion-col>
        <ion-col class="formDiv" size="12">
          <form [formGroup]="loginForm" >
            <ion-item>
              <ion-label class="label-text" position="floating">E-mail</ion-label>
              <ion-input class="input-text" formControlName="email" type="text" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label class="label-text" position="floating">Password</ion-label>
              <ion-input formControlName="password" type="password" required></ion-input>
            </ion-item>
          </form>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <!-- <div class="rememberMe label-text">
          <ion-checkbox color="primary"></ion-checkbox>
          <ion-label class="rememberText"> Remember Me?</ion-label>
        </div> -->
      </ion-col>
      <ion-col size="12">
        <!-- <ion-button (click)="loginOwner()" class="loginBtn login-text" shape="round" color="primary">Login As Owner</ion-button> -->
        <ion-button (click)="login()" class="loginBtn" shape="round">LOG IN</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-text-center create">
    <ion-label (click)="signUp()">Create new Account?</ion-label>
  </div>
  </div>
</ion-content>
