<ion-content id="privacyModal">
    <div class="title">
        <ion-text>
          <b>Privacy & Policy</b>
        </ion-text>
      </div>
    <ion-button class="backBtn" shape="round" color="none" (click)="close()">
    </ion-button>
    <ion-icon class="backIcon" name="arrow-round-back" color="primary"></ion-icon>

      <ion-infinite-scroll class="content">
        <ion-infinite-scroll-content >
          Maecenas dignissim nisl vitae egestas dictum. Nullam cursus tempor augue, vel pellentesque odio condimentum a. Praesent auctor turpis sed nisi iaculis, vel viverra elit lobortis. Sed bibendum vel massa eu dignissim. Fusce metus nisl, mollis quis aliquam imperdiet, aliquam et leo. Fusce tellus augue, cursus blandit orci vel, pharetra gravida nibh. Aliquam non ipsum vel mi volutpat cursus. Suspendisse eu tristique velit, quis mattis eros. Vestibulum tincidunt risus vel euismod cursus. Fusce velit tortor, auctor ac libero eu, posuere blandit tellus. Maecenas eget accumsan mi. Aliquam faucibus, arcu eu accumsan posuere, libero lectus dapibus mi, a tincidunt purus magna vel nibh.

  Mauris commodo rhoncus posuere. Vivamus fringilla tristique metus et ultrices. Aenean imperdiet, ligula a porta scelerisque, sapien purus ornare odio, a auctor mi magna vitae orci. Proin ultrices augue est, sed dictum nibh tincidunt vitae. Aenean urna enim, pharetra ac risus et, vehicula vestibulum felis. Praesent sagittis mi ut ante elementum, quis venenatis justo luctus. Sed vel cursus urna. Curabitur ut dui massa. Mauris ac maximus eros, vitae aliquam mauris. Quisque sed consectetur felis, quis pulvinar lacus. Ut aliquam at magna quis tempus. Aenean bibendum egestas arcu quis faucibus. Nam quis nisl eu est cursus ullamcorper. Donec pharetra justo urna, ac mollis eros eleifend et. Proin vitae luctus tellus, auctor tincidunt justo. Aenean nec malesuada nisl.

  Duis odio nisl, lacinia eget porttitor et, commodo vitae augue. Phasellus eget mauris mollis, dapibus felis nec, convallis eros. In a nunc dictum, convallis elit vitae, tempus diam. Nullam ante risus, imperdiet non massa et, mollis gravida diam. Suspendisse interdum elit a leo ultrices, molestie placerat magna vehicula. Morbi lectus sapien, mattis ac nisl eget, scelerisque consequat ante. Maecenas finibus hendrerit fringilla. Mauris gravida molestie nunc id pharetra. Cras elementum convallis turpis vel imperdiet. Fusce vestibulum blandit nisl id ultrices. Proin vitae tortor condimentum, volutpat felis a, condimentum lectus. Duis bibendum, risus at mattis rutrum, ligula felis tincidunt nulla, commodo consectetur nisi magna at lorem. Nam ipsum est, euismod in tempus quis, dignissim ac justo.

        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>