
#privacyModal{
    .title{
        font-size: 20px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50px;
        left: 50%;
        color : #4F83EB;
    }
    .backBtn{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-shadow: 0px 20px 30px 0px rgba(0,0,0,0.3);
        top: 40px;
        left: 50px;
        background-color: none;
        z-index: 2
    }
    .backIcon{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 44px;
        left: 52px;
    }
    .content{
        position: absolute;
        height: 60%;
        max-width: 80%;
        transform: translate(-50%, 0);
        top: 100px;
        left: 50%;
    }
}