<ion-content id="profile">
    <ion-icon (click)="closeModal()" class="backIcon" name="arrow-round-back" color="dark"></ion-icon>
  <div class="title">
      <ion-text>
        <b>Profile</b>
      </ion-text>
    </div>
  <div>
    <ion-avatar class="avatar">
      <img [src]="userData.user_image">
    </ion-avatar>
  </div>
  <div (click)="selectImage()" class="imageButton">
    <ion-icon class="cameraIcon" name="camera"></ion-icon>
  </div>
  
  <div class="personalInfo ion-text-center">
    <form [formGroup]="editForm">
      <ion-item class="inputBox">
          <ion-input placeHolder="First Name" formControlName="firstName"  type="text" required></ion-input>
        </ion-item>
        <ion-item class="inputBox">
          <ion-input  placeHolder="Last Name" formControlName="lastName"  type="text" required></ion-input>
        </ion-item>
        <ion-item class="inputBox">
          <ion-input  placeHolder="Email" formControlName="email"  type="text" required></ion-input>
        </ion-item>
        <ion-item class="inputBox">
          <ion-input  placeHolder="Password" formControlName="password"  type="password" required></ion-input>
        </ion-item>
      </form>
      <ion-button shape="round" expand="full" >
        Update
      </ion-button>
  </div>
</ion-content>
