<ion-content id="changePassModal">
    <div class="title">
        <ion-text>
          <b>Change Password</b>
        </ion-text>
      </div>
    <ion-button class="backBtn" shape="round" color="none" (click)="close()">
    </ion-button>
    <ion-icon class="backIcon" name="arrow-round-back" color="primary"></ion-icon>

    <div class="personalInfo ion-text-center">
        <form [formGroup]="editForm">
          <ion-item class="inputBox">
              <ion-input placeHolder="Old Password" formControlName="oldPass"  type="password" required></ion-input>
            </ion-item>
            <ion-item class="inputBox">
              <ion-input  placeHolder="New Password" formControlName="newPass"  type="password" required></ion-input>
            </ion-item>
            <ion-item class="inputBox">
              <ion-input  placeHolder="Confirm New Password" formControlName="confirmNewPass"  type="password" required></ion-input>
            </ion-item>
          </form>
          <ion-button shape="round" expand="full">
            Update
          </ion-button>
      </div>
</ion-content>