@import 'src/sass/styles.scss';
#detailSection{
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
    .upperCard{
        background-color: #C9DDFF;
        width: 96%;
        height: 40%;
        border-radius: 0 0 50px 50px;
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
        .image{
            z-index: -5;
        }
    }
    .backIcon{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        transform: translate(-50%, -50%);;
        top: 44px;
        left: 52px;
        z-index: 100;
    }
    .backBtn{
        opacity: 0.5;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 40px;
        left: 50px;
        background-color: gray;
        z-index: 2
    }
    .bookmarkIcon{
        width: 31px;
        height: 31px;
        border-radius: 50%;
        position: absolute;
        transform: translate(-50%, -50%);;
        top: 44px;
        left: 90%;
        z-index: 100;
    }
    .bookmarkBtn{
        @extend .backBtn;
        left: 90%;
    }

    .titleCard{
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        background-color: white;
        width: 80%;
        border-radius: 35px;
        box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.3);
        height: auto;
        padding: 10px;
        font-family: 'JosefinSans-Regular';
        .text{
            font-size: 24px;
            font-family: 'JosefinSans-Regular';
        }
    }
    .titleCardActive{
        @extend .titleCard;
        background-color: white;
        background: linear-gradient(to bottom, white, transparent);
        opacity: 1;
        font-size: 18px;
        width: 60%;
        height: fit-content;
        box-shadow: none;
        position: absolute;
        transform: translate(-50%, 0);
        top: 15px;
        left: 50%;
        .text{
            font-size: 18px;
        }
    }
    
    .detailCard{
        background-color: white;
        width: 100%;
        height: 15%;
        border-radius: 50px 50px 0 0;
        position: absolute;
        transform: translate(-50%, -100%);
        top: 100%;
        left: 50%;
        box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.3);
        transition: height 0.5s;
        transition-timing-function: cubic-bezier(0, 0, 1, 1);
        .detailContentTitle{
            margin: -35px 0 15px 0;
            font-family: 'JosefinSans-Bold';
        }
        .arrow{
            position: relative;
            width: 80px;
            height: 50px;
            transform: translate(-50%, -100%);
            left: 50%;
            box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.3);
            border-radius: 35px 35px 0 0;
            background-color: gray;
            opacity: 0.4;
            .up{
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                width: 50px;
                height: 50px;
            }
        }
        .detailContent{
            height: 0px;
            width: 0px;
            font-family: 'JosefinSans-Regular';
        }
    }
    .detailCardActive{
        @extend .detailCard;
        padding: 0 35px 0 35px;
        height: 80%;
        transition: height 0.5s;
        transition-timing-function: cubic-bezier(0, 0, 1, 1);
        .detailContentTitle{
            margin: 15px 0 15px 0;
        }
        .arrow{
            position: absolute;
            width: 70px;
            height: 50px;
            transform: translate(-50%, -100%);
            left: 50%;
            box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.3);
            border-radius: 35px 35px 0 0;
            background-color: gray;
            opacity: 0.4;
            .up{
                position: relative;
                transform: translate(-50%, -50%);
                top: 15%;
                left: 15%;
                width: 50px;
                height: 50px;
                transform: rotate(180deg);
            }
        }
        .detailContent{
            transition: height 0.5s;
            transition-timing-function: cubic-bezier(0, 0, 1, 1);
            height: 100%;
            width: 100%;
        }
    }

    .summary{
        width: 80%;
        height: 350px;
        position: absolute;
        transform: translate(-50%, 0);
        top: 50%;
        left: 50%;
        font-family: 'JosefinSans-Regular';
    }
    agm-map{
        height: 300px;
    }
    ion-item{
        font-family: 'JosefinSans-Regular';
    }
}