<ion-content id="search">
    <div class="title">
      <ion-text>
        <b>Search</b>
      </ion-text>
    </div>
    <ion-button class="backBtn" shape="round" color="none" [routerLink]="['/','explore']">
    </ion-button>
    <ion-icon class="backIcon" name="arrow-round-back" color="primary"></ion-icon>
    <ion-grid>
        <ion-row>
            <ion-col class="searchBox" shape="round" size="10">
                    <div class="searchIcon">
                        <ion-icon name="search"></ion-icon> 
                    </div>
                    <form class="searchInput" [formGroup]="searchForm">
                        <ion-input formControlName="searchBox" placeholder="Search Disini" type="text"></ion-input>
                    </form>
                    <ion-card *ngFor="let search of data" (click)="move(search.panti_id)"class="bookCard">
                    <ion-card-subtitle class="cardtitle">
                        {{search.panti_nama}}
                    </ion-card-subtitle>
                    <ion-card-content class="cardcontent">
                        <ion-icon name="call"></ion-icon>
                        <ion-label> {{search.kontak_panti}}</ion-label>
                        <br>
                        <ion-icon name="pin"></ion-icon>
                        <ion-label> {{search.location_nama}}</ion-label>
                    </ion-card-content>
                    </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
